<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" components="{dmxRouting:{}}" -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5 visually-hidden">Home Page</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">This page is for the dashboard</h1>
        </div>
    </div>
</div>
<meta name="ac:route" content="/">
<div is="dmx-view" id="view1"></div>