<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="opcr" appConnect="local" -->
<meta name="ac:route" content="/opcr">
<dmx-serverconnect id="serverconnect1" url="/api/admin/data/search"></dmx-serverconnect>
<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>