<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="opcrreport" appConnect="local" components="{dmxBootstrap5TableGenerator:{}}" -->
<dmx-serverconnect id="conn_report" url="/api/admin/data/search" dmx-param:filter="text1.value"></dmx-serverconnect>
<div class="container">
    <div class="row">
        <div class="col">
            <input id="text1" name="Filter" type="text" class="form-control">
        </div>
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Qdocument code</th>
                            <th>Qrevision no</th>
                            <th>Qeffectivity</th>
                            <th>Qquarter</th>
                            <th>Qname office</th>
                            <th>Qstrategic goals</th>
                            <th>Qsuccess indicatortarget</th>
                            <th>Qalloted budget</th>
                            <th>Qdivision accountable</th>
                            <th>Qactual accomplishment</th>
                            <th>Qaccomplish rate</th>
                            <th>Qrating</th>
                            <th>Qremarks</th>
                        </tr>
                    </thead>
                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="conn_report.data.query" id="tableRepeat1">
                        <tr>
                            <td dmx-text="qdocument_code"></td>
                            <td dmx-text="qrevision_no"></td>
                            <td dmx-text="qeffectivity"></td>
                            <td dmx-text="qquarter"></td>
                            <td dmx-text="qname_office"></td>
                            <td dmx-text="qstrategic_goals"></td>
                            <td dmx-text="qsuccess_indicatortarget"></td>
                            <td dmx-text="qalloted_budget"></td>
                            <td dmx-text="qdivision_accountable"></td>
                            <td dmx-text="qactual_accomplishment"></td>
                            <td dmx-text="qaccomplish_rate"></td>
                            <td dmx-text="qrating"></td>
                            <td dmx-text="qremarks"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<meta name="ac:route" content="/kmitsadmin/opcrreport">