<!-- Wappler include head-page="layouts/admin" bootstrap5="local" is="dmx-app" id="opcrreport" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxTyped:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxBootstrap5Navigation:{},dmxValidator:{}}" fontawesome_5pro="cdn" -->
<dmx-serverconnect id="userdetails" url="/api/Security/userDetails"></dmx-serverconnect>


<dmx-notifications id="notifies1"></dmx-notifications>
<div class="modal fade" id="modal_edit" is="dmx-bs5-modal" tabindex="-1" dmx-on:hide-bs-modal="serverconnectform1.reset()">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <form is="dmx-serverconnect-form" id="serverconnectform1" method="post" action="/api/admin/data/update" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-populate="conn_singlerec.data.query" dmx-on:success="serverconnectform1.reset();modal_edit.hide();notifies1.success('Updated');conn_report.load({})">
                                <div class="form-group mb-3 row">
                                    <label for="inp_qreport_id" class="col-sm-2 col-form-label">Report ID</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="inp_qreport_id" name="qreport_id" dmx-bind:value="conn_singlerec.data.query.qreport_id" aria-describedby="inp_qreport_id_help" placeholder="Enter Report ID" readonly="true">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qdocument_code" class="col-sm-2 col-form-label">Document Code</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qdocument_code" name="qdocument_code" dmx-bind:value="conn_singlerec.data.query.qdocument_code" aria-describedby="inp_qdocument_code_help" placeholder="Enter Document Code">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qrevision_no" class="col-sm-2 col-form-label">Revision No</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qrevision_no" name="qrevision_no" dmx-bind:value="conn_singlerec.data.query.qrevision_no" aria-describedby="inp_qrevision_no_help" placeholder="Enter Revision No">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qeffectivity" class="col-sm-2 col-form-label">Effectivity Date</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="inp_qeffectivity" name="qeffectivity" dmx-bind:value="conn_singlerec.data.query.qeffectivity" aria-describedby="inp_qeffectivity_help" placeholder="Enter Qeffectivity">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qquarter" class="col-sm-2 col-form-label">Quarter</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qquarter" name="qquarter" dmx-bind:value="conn_singlerec.data.query.qquarter" aria-describedby="inp_qquarter_help" placeholder="Enter quarter">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qname_office" class="col-sm-2 col-form-label">Name of Office</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qname_office" name="qname_office" dmx-bind:value="conn_singlerec.data.query.qname_office" aria-describedby="inp_qname_office_help" placeholder="Enter name of office">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qstrategic_goals" class="col-sm-2 col-form-label">Strategic Goals and Objectives</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qstrategic_goals" name="qstrategic_goals" dmx-bind:value="conn_singlerec.data.query.qstrategic_goals" aria-describedby="inp_qstrategic_goals_help" placeholder="Enter strategic goals">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qsuccess_indicatortarget" class="col-sm-2 col-form-label">Success Indicator &amp; Target</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qsuccess_indicatortarget" name="qsuccess_indicatortarget" dmx-bind:value="conn_singlerec.data.query.qsuccess_indicatortarget" aria-describedby="inp_qsuccess_indicatortarget_help" placeholder="Enter success indicator target">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qalloted_budget" class="col-sm-2 col-form-label">Alloted Budget</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="inp_qalloted_budget" name="qalloted_budget" dmx-bind:value="conn_singlerec.data.query.qalloted_budget" aria-describedby="inp_qalloted_budget_help" placeholder="Enter alloted budget">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qdivision_accountable" class="col-sm-2 col-form-label">Division/Unit Accountable</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qdivision_accountable" name="qdivision_accountable" dmx-bind:value="conn_singlerec.data.query.qdivision_accountable" aria-describedby="inp_qdivision_accountable_help" placeholder="Enter division/unit accountable">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qactual_accomplishment" class="col-sm-2 col-form-label">Actual Accomplishment</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qactual_accomplishment" name="qactual_accomplishment" dmx-bind:value="conn_singlerec.data.query.qactual_accomplishment" aria-describedby="inp_qactual_accomplishment_help" placeholder="Enter actual accomplishment">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qaccomplish_rate" class="col-sm-2 col-form-label">Accomplish Rate</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qaccomplish_rate" name="qaccomplish_rate" dmx-bind:value="conn_singlerec.data.query.qaccomplish_rate" aria-describedby="inp_qaccomplish_rate_help" placeholder="Enter accomplish rate">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qrating" class="col-sm-2 col-form-label">Rating</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qrating" name="qrating" dmx-bind:value="conn_singlerec.data.query.qrating" aria-describedby="inp_qrating_help" placeholder="Enter rating">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qremarks" class="col-sm-2 col-form-label">Remarks</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qremarks" name="qremarks" dmx-bind:value="conn_singlerec.data.query.qremarks" aria-describedby="inp_qremarks_help" placeholder="Enter remarks">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <div class="col-sm-2">&nbsp;</div>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary" dmx-bind:value="conn_singlerec.data.query.Save" dmx-bind:disabled="state.executing">Save <span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_add" is="dmx-bs5-modal" tabindex="-1" dmx-on:hide-bs-modal="serverconnectform1.reset()">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Quarterly Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <form is="dmx-serverconnect-form" id="serverconnectform2" method="post" action="/api/admin/data/create" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="serverconnectform2.reset();modal_add.hide();notifies1.success('Data Added Successfully');conn_report.load({})">
                                <div class="form-group mb-3 row">
                                    <label for="inp_qdocument_code" class="col-sm-2 col-form-label">Document Code</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qdocument_code" name="qdocument_code" aria-describedby="inp_qdocument_code_help" placeholder="Enter Document Code" required="">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qrevision_no" class="col-sm-2 col-form-label">Revision No</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="inp_qrevision_no" name="qrevision_no" aria-describedby="inp_qrevision_no_help" placeholder="Enter Revision Number" required="">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qeffectivity" class="col-sm-2 col-form-label">Effectivity Date</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="inp_qeffectivity" name="qeffectivity" aria-describedby="inp_qeffectivity_help" placeholder="Enter Qeffectivity" required="">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qquarter" class="col-sm-2 col-form-label">FY &amp; Quarter</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qquarter" name="qquarter" aria-describedby="inp_qquarter_help" placeholder="Enter Fiscal Year and Quarter" required="">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qname_office" class="col-sm-2 col-form-label">Name of Office</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qname_office" name="qname_office" aria-describedby="inp_qname_office_help" placeholder="Enter Name of office" required="">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qstrategic_goals" class="col-sm-2 col-form-label">Strategic Goals &amp; Objectives</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qstrategic_goals" name="qstrategic_goals" aria-describedby="inp_qstrategic_goals_help" placeholder="Enter strategic goals" required="">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qsuccess_indicatortarget" class="col-sm-2 col-form-label">Success Indicators &amp; Target</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qsuccess_indicatortarget" name="qsuccess_indicatortarget" aria-describedby="inp_qsuccess_indicatortarget_help" placeholder="Enter success indicator and target" required="">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qalloted_budget" class="col-sm-2 col-form-label">Alloted Budget</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="inp_qalloted_budget" name="qalloted_budget" aria-describedby="inp_qalloted_budget_help" placeholder="Enter alloted budget">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qdivision_accountable" class="col-sm-2 col-form-label">Division/Unit<br>Accountable</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qdivision_accountable" name="qdivision_accountable" aria-describedby="inp_qdivision_accountable_help" placeholder="Enter division/unit accountable">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qactual_accomplishment" class="col-sm-2 col-form-label">Actual Accomplishment</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qactual_accomplishment" name="qactual_accomplishment" aria-describedby="inp_qactual_accomplishment_help" placeholder="Enter actual accomplishment">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qaccomplish_rate" class="col-sm-2 col-form-label">Accomplish Rate</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qaccomplish_rate" name="qaccomplish_rate" aria-describedby="inp_qaccomplish_rate_help" placeholder="Enter accomplish rate">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qrating" class="col-sm-2 col-form-label">Rating</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inp_qrating" name="qrating" aria-describedby="inp_qrating_help" placeholder="Enter rating">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label for="inp_qremarks" class="col-sm-2 col-form-label">Remarks</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp_qremarks" name="qremarks" aria-describedby="inp_qremarks_help" placeholder="Enter remarks">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <div class="col-sm-2">&nbsp;</div>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary" dmx-bind:disabled="state.executing">Save <span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<dmx-serverconnect id="conn_deleterec" url="/api/admin/data/delete" noload="true"></dmx-serverconnect>
<dmx-serverconnect id="conn_singlerec" url="/api/admin/data/read" noload="true" dmx-param:qreport_id="conn_singlerec.data.query.qreport_id"></dmx-serverconnect>
<dmx-serverconnect id="conn_report" url="/api/admin/data/search" dmx-param:filter="text1.value"></dmx-serverconnect>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-2">Office Performance Commitment and Review</h1>


        </div>
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <td><button id="btn_addreport" class="btn btn-success" dmx-on:click="conn_addrec.load({});modal_add.show()">Add Report</button></td>
                            <th class="align-middle text-center">Report</th>
                            <th class="align-middle text-center">Document Code</th>
                            <th class="align-middle text-center">Revision No</th>
                            <th class="align-middle text-center">Effectivity Date</th>
                            <th class="align-middle text-center">Quarter</th>
                            <th class="align-middle text-center">Office Name</th>
                            <th class="align-middle text-center">Strategic Goals</th>
                            <th class="align-middle text-center">Success Indicator Target</th>
                            <th class="align-middle text-center">Alloted Budget</th>
                            <th class="align-middle text-center">Division Accountable</th>
                            <th class="align-middle text-center">Actual Accomplishment</th>
                            <th class="align-middle text-center">Accomplishment Rate</th>
                            <th class="align-middle text-center">Rating</th>
                            <th class="align-middle text-center">Remarks</th>
                            <th class="text-center align-middle d-none">User</th>
                        </tr>
                    </thead>
                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="conn_report.data.query" id="tableRepeat2">
                        <tr>
                            <td>

                                <button id="btn_editreport" class="btn btn-success mb-2" dmx-on:click="conn_singlerec.load({qreport_id: qreport_id});modal_edit.show()"><i class="far fa-edit">Edit&nbsp;</i></button><button id="btn_deletereport" class="btn btn-danger" dmx-on:click="conn_deleterec.load({qreport_id: qreport_id});conn_report.load({})">Delete<br></button>
                            </td>
                            <td dmx-text="qreport_id" class="text-justify"></td>
                            <td dmx-text="qdocument_code" class="text-justify"></td>
                            <td dmx-text="qrevision_no" class="text-justify"></td>
                            <td dmx-text="qeffectivity" class="text-justify"></td>
                            <td dmx-text="qquarter" class="text-justify"></td>
                            <td dmx-text="qname_office" class="text-justify"></td>
                            <td dmx-text="qstrategic_goals" class="text-justify"></td>
                            <td dmx-text="qsuccess_indicatortarget" class="text-justify"></td>
                            <td dmx-text="qalloted_budget"></td>
                            <td dmx-text="qdivision_accountable" class="text-justify"></td>
                            <td dmx-text="qactual_accomplishment"></td>
                            <td dmx-text="qaccomplish_rate"></td>
                            <td dmx-text="qrating"></td>
                            <td dmx-text="qremarks"></td>
                            <td dmx-text="user_id" class="d-none"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<meta name="ac:route" content="/kmitsadmin/opcrreport">